<%= @buffet.full_register %>
<%= @buffet.full_address %>
<%= @buffet.full_contact %>

<section>
  <% if @events.any? %>
    <% @events.each do |ev| %>
      <div>
        
        <%= link_to "#{ev.name}", buffets_buffet_events_path(ev) %> 
        <%= ev.description %>
        

      </div>

    <% end %>
  <% else %>
    <p>Não existem eventos Cadastrados</p>
  <% end %>
</section>

<%= link_to 'Cadastrar novo evento', new_buffets_buffet_events_path(@buffet) %>
