<%= @buffet.full_register %>
<%= @buffet.full_address %>
<%= @buffet.full_contact %>

<h2>Cadastrar novo evento</h2>
<%= form_with model: @event, url: buffets_buffet_events_path, method: :post do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :min_quantity_people %>
    <%= form.number_field :min_quantity_people %>
  </div>

  <div>
    <%= form.label :max_quantity_people %>
    <%= form.text_field :max_quantity_people %>
  </div>

  <div>
    <%= form.label :duration_in_minutes %>
    <%= form.text_field :duration_in_minutes %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :district %>
    <%= form.text_field :district %>
  </div>

  <div>
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :menu %>
    <%= form.text_area :menu %>
  </div>

  <div>
    <%= form.submit 'Gravar' %>
  </div>
<% end %>