<p><%= link_to 'Meu Buffet', buffet_path(@buffet)%> > <%= link_to 'Pedidos', buffet_my_orders_path(@event.buffet)%> > <%= "Pedido #{@order.code}" %></p>
<h2><%= Order.model_name.human %> <%= @order.code %> <%= Order.human_attribute_name @order.status%></h2>
<% if @order_count.any? && @order_count.count > 1%>
  <div>
    <p>Existem <%=@order_count.count%> pedidos agendados para está data</p>
    <% @order_count.each do |order| %>
      <p> Pedido <%= link_to order.code, order_view_path(order) %>, <%= Order.human_attribute_name order.status %></p>
    <% end %>
  </div>
<% end %>

<p><%= link_to @order.event.name, event_path(@order.event) %></p>
<%= render 'order_details'%>

<% if @order.price_order.present? %>
  <%= render 'price_order_details' %>
  <%= render 'confirm_order' %>
<% else %>
  <p>Valor final ainda não confirmado</p>
  <%= link_to 'Cadastrar novo valor', new_price_order_path(@order)%>
<% end %>

      