<p><%= link_to 'Meu Buffet', buffet_path(@buffet)%> > Pedidos</p>
<h2>Pedidos aguardando avaliação</h2>
<% if @orders.any? %>
  <% @orders.each do |order| %>
    <div><%= Order.human_attribute_name :code%> <%= link_to "#{order.code}", order_view_path(order) %></div>

  <% end %>
<% else %>
    <p>Não existem pedidos a serem avalidos</p>
<% end %>

<% if @other_orders.any? %>
  <h2>Demais pedidos</h2>
  <% @other_orders.each do |order| %>
    <div><%= Order.human_attribute_name :code%> <%= link_to "#{order.code}", order_view_path(order) %></div>

  <% end %>
<% end %>