<h2><%= Order.model_name.human %> <%= @order.code %> <%= Order.human_attribute_name @order.status%></h2>

<%= render 'buffet/order_details' %>
<%= render 'buffet/price_order_details' %>

<div>
  <% if @price_order.deadline >= Date.today %>
    <div><%= button_to 'Confirmar evento', order_confirm_event_path(@order,'confirmed'), method: :post %></div>
    <div><%= button_to 'Cancelar evento', order_confirm_event_path(@order,'canceled'), method: :post %></div>
  <% else %>
    <p>Pedido fora do prazo de confirmação</p>
  <% end %>
</div>

<p>Mais informações de contato: <%= @buffet.full_address %> | <%= @buffet.mask_phone_number %></p>