<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <h1><%= link_to 'Cadê Buffet', root_path%></h1>

  <%= form_with url: search_path, method: :get do %>
    <%= label_tag :query, 'Busca:' %>
    <%= text_field_tag :query %>
    <%= submit_tag 'Buscar' %>
  <% end %>

  <div>
    <h2>Veja nossos Buffets cadastrados</h2>
    <div><%= link_to 'Listar Buffets', listing_path %></div>
  </div>
  

  <% if my_company_owner_signed_in? || client_signed_in? %>
    <% if my_company_owner_signed_in? %>
      <nav>
        <ul>
          <li>
            <%= link_to 'Pedidos', buffet_my_orders_path(Buffet.find_by(owner_id: current_my_company_owner.id)) if Buffet.find_by(owner_id: current_my_company_owner.id).present? %>
            <%= button_to 'Sair', destroy_my_company_owner_session_path, method: :delete %>
          </li>
        </ul>
      </nav>
    <% else %>
      <p><%= current_client.name%> - <%= Client.find(current_client.id).register_mask %></p>
      <nav>
        <ul>
          <li><%= link_to 'Meus pedidos', orders_path %></li>
          <li><%= link_to 'Novo pedido', new_order_path %></li>
          <li><%= link_to 'Pedidos confirmados', confirmed_orders_path if Order.where('client_id = ? AND status = ?', current_client.id, '2')%></li>
          <li><%= button_to 'Sair', destroy_client_session_path, method: :delete %></li>
        </ul>
      </nav>
    <% end %>
  <% else %>
    <nav>
      <ul>
        <li><%= link_to 'Sou Proprietário', new_my_company_owner_session_path %></li>
        <li><%= link_to 'Sou Cliente', new_client_session_path %></li> 
      </ul>  
    </nav>
  <% end %>
    <div>
      <%= notice %>
    </div>
    <div>
      <%= alert %>
    </div>
    <%= yield %>
  </body>
</html>
