<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <h1>Cadê Buffet</h1>
  <p>Em processo de refatoração!</p>
    <% if buffets_owner_signed_in? %>
      <div>
        <%= button_to 'Sair', destroy_buffets_owner_session_path, method: :delete %>
      </div>
    <% end %>
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
